.DS_Store
pkg
rdoc
vendor/gems
src/*.o
src/Makefile
src/clips.bundle
src/clips.so
src/clips.dll
lib/clips/api/data_object.rb
lib/clips/api/struct/*.rb
test/func/issues/**/*.o
test/func/issues/**/*.test